/* pricing page */
/* pricing banner */
.pricing-banner {
  margin: 20px 15px 70px;
}

.pricing-banner__image {
  margin-bottom: 63px;
}

.pricing-banner__image img {
  height: 427px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.pricing-banner__details h1 {
  font-family: FreightDispProMedium-Italic;
  font-size: 35px;
  font-style: italic;
  font-weight: 400;
  line-height: 43.64px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 35px;
}

.pricing-banner__details p {
  font-family: Product Sans Light;
  font-size: 18px;
  font-weight: 300;
  line-height: 34.2px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

/* design plan section */
.design-plan__header h2 {
  font-family: FreightDispProMedium-Italic;
  /* font-family: FreightDispProBook-Italic; */
  /* font before - FreightDispProMedium-Italic; */


  font-size: 35px;
  font-style: italic;
  font-weight: 400;
  line-height: 43.64px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 58px;
}

.design-plan__packages {
  display: flex;
  flex-direction: column;
  gap: 55px;
  margin: 0 13px 85px;
}

.design-plan__packages--card-description {
  display: none;
}

.design-plan__packages--card-details {
  /* height: 668px; */
  border-radius: 20px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background: #fdfdfd;
  border: 1px solid #0000001a;
}

.design-plan__packages--card-details-header h3 {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-left: 17px;
  margin-bottom: 36px;
}

.design-plan__packages--card-details-header h3 span {
  font-family: FreightDispProLight-Regular;
  /* font before - FreightDispProBook-Regular */
  /* font-size: 35px; */
  font-size: 32px;
  font-weight: 400;
  line-height: 43.47px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media (max-width: 400px) {
  .design-plan__packages--card-details-header h3 span {
    font-size: 20px;
  }
}

.design-plan__packages--card-details-header p {
  font-family: Product Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.26px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #a9a9aa;
  margin-bottom: 21px;
}

.design-plan__packages--card-details-main ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.design-plan__packages--card-details-main li {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.design-plan__packages--card-details-main li span {
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 20.57px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #35353f;
}

.design-plan__packages--card-details-footer {
  border-top: 1px dotted #a9a9aa;
  margin-top: 39px;
  padding-top: 19px;
}

.design-plan__packages--card-details-footer p {
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #0b0914;
  margin-bottom: 34px;
}

.design-plan__packages--card-details-footer button {
  width: 100%;
  height: 64px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-family: Product Sans;
  font-size: 22px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  cursor: pointer;
  border: none;
}

.design-card-1 button {
  background: #2e6434;
}

.design-card-2 button {
  background: #22337c;
}

/* responsiveness */
@media screen and (min-width: 1024px) {

  /* pricing banner */
  .pricing-banner {
    margin: 46px auto 83px;
    padding: 0 15px;
    max-width: 1122px;
  }

  .pricing-banner__image {
    margin-bottom: 83px;
  }

  .pricing-banner__image img {
    height: 543px;
  }

  .pricing-banner__details h1 {
    font-size: 45px;
    line-height: 56.11px;
  }

  .pricing-banner__details p {
    font-size: 20px;
    line-height: 38px;
  }

  /* design plan section */
  .design-plan__header h2 {
    font-size: 45px;
    line-height: 56.11px;
    margin-bottom: 83px;
  }

  .design-plan__packages {
    gap: 83px;
    margin: 0 0 212px;
  }

  .design-plan__packages--card {
    display: flex;
    max-width: 851px;
    margin: 0 auto;
    border-radius: 20px;
  }

  .design-plan__packages--card-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    padding-top: 32px;
    padding-left: 40px;
    border-radius: 20px 0 0 20px;
  }

  .design-plan__packages--card-description-header {
    padding-right: 64px;
  }

  .design-plan__packages--card-description-header h3 {
    font-family: FreightDispProLight-Regular;
    /* font before - FreightDispProBook-Regular */
    font-size: 45px;
    font-weight: 400;
    line-height: 55.89px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #ffde4d;
    margin-bottom: 1rem;
  }

  .design-plan__packages--card-description-header p {
    font-family: Product Sans Light;
    font-size: 16px;
    font-weight: 300;
    line-height: 30.4px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--white);
    margin-bottom: 19px;
  }

  .design-plan__packages--card-description-header p span {
    font-weight: 700;
  }

  .design-plan__packages--card-description-image img {
    width: 100%;
    height: 100%;
  }

  .design-card-1 .design-plan__packages--card-description {
    background: #2e6434;
  }

  .design-card-2 .design-plan__packages--card-description {
    background: #22337c;
  }

  .design-plan__packages--card-details {
    border-radius: 0 20px 20px 0px;
    padding: 40px 40px 24px;
  }

  .design-plan__packages--card-details-header h3 span {
    /* font-size: 45px; */
    font-size: 40px;
    line-height: 55.89px;
  }

  .design-plan__packages--card-details-main ul {
    gap: 18px;
    padding-right: 51px;
  }

  .design-plan__packages--card-details-footer button {
    font-size: 32px;
    line-height: 40px;
  }
}

.luxe-package-mobile,
.essential-pricing-mobile {
  display: none;
}

@media (max-width: 1023px) {
  .luxe-package-mobile,
  .essential-pricing-mobile {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}

.design-plan__packages--wrapper {
  padding: 33px 23px 24px;
}


/* @media screen and (max-width: 679px) {
  .pricing-banner__details h1,
  .design-plan__header h2,
  .design-plan__packages--card-details-header h3 span,
  .design-plan__packages--card-description-header h3 {
    font-family: "FreightDispjjjProMedium-Italic";
  }
} */